:root {
  --grey: #424242;
  --default-text: #1b1b1b;
  --primary: #FF9B24;
  --secondary: #00BBAE;
  --danger: #FF577B;
  --bg-linear: linear-gradient(96deg, #EBFFFE 0.6%, #FFF6EB 100%);
  --default-fontsize: 18px;
}

$primary: #FF9B24;
$secondary: #00BBAE;
$danger: #FF577B;